{% load static %}
<link href="{% static 'style.css' %}" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<br>
<br>

<div class="row">
  <div class="col-sm-6">
    <form method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-6">
          <input type="text" name="email" placeholder="email">

        </div>
        <div class="col-sm-6">

          <button type="submit" name="btn1" class="btn btn-primary">Save</button>
        </div>

      </div>
    </form>
  </div>
  <div class="col-sm-6">
    <style>
      #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      #customers td,
      #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      #customers tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      #customers tr:hover {
        background-color: #ddd;
      }

      #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
      }
    </style>
    </head>

    <body>

      <table id="customers">
        <tr>
          <th>email</th>
          <th>Delete</th>
        </tr>
        <tr>
          {% for i in email %}
          <td>{{i.Name}}</td>
          <td><a href="/edit/{{i.id}}">Delete</a></td>
        </tr>
        {% endfor %}
      </table>

  </div>
</div>
<hr>
<div class="container">
  <h5>Save Draft</h5>
  <br>
  <form method="POST">
    {% csrf_token %}
    <input type="text" name="head" placeholder="subject">
    <br>
    <input type="text" name="subject" placeholder="content">
    <br>
    <button type="submit" name="btn2">Send Draft</button>
</div>
</form>
</div>
<hr>

<style>
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #customers tr:hover {
    background-color: #ddd;
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
</style>
</head>

<div class="container">

  <table id="customers">
    <tr>
      <th>subject</th>
      <th>content</th>
      <th>Edit</th>
      <th>Send</th>
    </tr>
    <tr>
      {% for i in data %}
      <td><input type="text" id={{i.id}}head value="{{i.head}}"></td>
      <td><input type="text" id={{i.id}}subject value="{{i.subject}}"></td>
      <td><button type="button" id={{i.id}} class="btn btn-primary edit">Save</button></td>
      <td><button type="button" id={{i.id}} class="btn btn-primary send">Send</button></td>
    </tr>
    {% endfor %}
  </table>
</div>
<hr>
<script>
  $(".edit").click(function () {
    var s = $('#' + this.id + 'head').val();
    var a = $('#' + this.id + 'subject').val();
    $.post("/draft/",
      {
        s: s,
        a: a,
        id: this.id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      function (data, status) {
        location.reload()
      });
  });

  $(".send").click(function () {
    var s = $('#' + this.id + 'head').val();
    var a = $('#' + this.id + 'subject').val();
    $.post("/send_all/",
      {
        s: s,
        a: a,
        id: this.id,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      function (data, status) {
        location.reload()
      });
  });
</script>